<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/01-introduction/index.html">Introduction</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/02-cli/index.html">Command Line Interface</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/03-editors/index.html">Terminal-based Text Editors</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/05-modules/index.html">Environment modules</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/06-job/index.html">Resource Management</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/07-ondemand/index.html">Open On-Demand</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/09-tmux/index.html">Terminal Multiplexing</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/10-conda/index.html">Environment management: Conda</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/11-singularity/index.html">Software Containers: Singularity</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/13-git/index.html">Version Control: git</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/14-compile/index.html">Compiling Codes</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/15-scripting/index.html">Shell Scripting</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
